@page
@model BestShop.Pages.Auth.ForgotPasswordModel
@{
}

<style>
    .retry-message {
        text-align: center;
        margin-top: 20px;
        font-size: 16px; 
        color: #495057; 
        font-style: italic;
        padding: 15px;
        background-color: #f8f9fa; 
        border: 1px solid #dee2e6; 
        border-radius: 5px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    }

        .retry-message a {
            color: #007bff;
            text-decoration: none;
            font-weight: bold;
        }

            .retry-message a:hover {
                text-decoration: underline;
            }
</style>


<div class="card mx-auto" style="width: 400px;">
    <div class="card-body">
        <h2 class="text-center mb-5">Zapomniane Hasło</h2>

        @if (Model.errorMessage.Length > 0)
        {
            <div class='alert alert-warning alert-dismissible fade show' role='alert'>
                <strong>@Model.errorMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Zamknij'></button>
            </div>
        }
        else if (Model.successMessage.Length > 0)
        {
            <div class='alert alert-success alert-dismissible fade show' role='alert'>
                <strong>@Model.successMessage</strong>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Zamknij'></button>
            </div>
        }

        <form method="post">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input class="form-control" asp-for="Email">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="row mb-3">
                <div class="col d-grid">
                    <button type="submit" class="btn btn-primary">Resetuj</button>
                </div>
                <div class="col d-grid">
                    <a class="btn btn-outline-primary" href="/" role="button">Anuluj</a>
                </div>
            </div>

            @if (Model.successMessage.Length > 0)
            {
                <div class="retry-message">
                    Email not received? Please resend it.
                </div>
            }
        </form>

    </div>
</div>
